<hr><h2 class="text-center">{{title}}</h2><hr>
<div class="container">
  <div class="row">
    <div class="col">
      <!--  
        EL CODIGO DE ABAJO REPRESENTA A UN BOTÓN QUE, CUANDO RECIBA EL EVENTO (click)
        LLAMARÁ A LA FUNCIÓN toGet(), DEFINIDA EN app.component.ts.
        Dicha función hace que el valor de ejemplo1 pase a ser true, por lo que
        [disabled] pasa a ser true, y el botón deja de ser clicable.
      -->
      <button type="button" class="btn btn-outline-dark btn-block" [disabled]="ejemplo1" (click)="toGet()">Ejemplo peticiones GET</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-dark btn-block" [disabled]="ejemplo2" (click)="toGet()">Ejemplo petición GET</button>
    </div>
</div>
<hr>
<router-outlet></router-outlet>
